[submodule "board/agg-kicad"]
	path = board/agg-kicad
	url = https://github.com/cillian64/agg-kicad.git
[submodule "firmware/libopencm3"]
	path = firmware/r2/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
